// Salma
.main__features{
    @include flex
    @include bord

    width: 90%;
    margin-left: 5%;
}

.main__feature-img-cont{
    padding: 5em 3em ;
    width: 100%;
    
}



.main__features-reverse{
    flex-direction: row-reverse;
   
}


.main__feature{
    width: 90%;
    margin-left: 5%;
}

.main__feature-desc{
    padding-left: 5em;
    padding-top: 2em;
    width: 84%;
    color: $text-color-secondary;
  }

  .main__feature-title{
    padding-left: 3.5em;
}

.banner{
      
    text-align: center;
    box-shadow: -1px 2px 20px -6px rgba(0, 0, 0, 0.75);
    margin: 2em 0;
    border-radius: 30px;
    padding: 70px;
    width: 50%;
    margin-left: 17em;
    


  }
  .banner h2{
    padding-bottom: 1em;
  }
  .banner__btn{
    background-color:$color-accent ;
    color: white;
    text-shadow: 1px 1px 2px $main-box-shadoww;
    padding-bottom: 2em;
  }
  .banner a{
    padding: .6em 3em;
    text-decoration: none;
    border-radius:100px;
   } 





@media screen and (max-width:1024px ) {
      .main__features{

        padding: 30px;
        flex-direction: column-reverse;

      }
      .main__feature-desc{
          text-align: center;
          padding-left: 2em;
      }
      .main__feature-img-cont{
          position: center;
      }
      .main__feature-title{
          text-align: center;
          padding: 0;
      }
      .banner{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
  }

    }





   